	<div class="p-5 mb-4 jumbo-bg-lg text-light rounded-3">
      <div class="container-fluid py-5">
	    <h1 class="display-5 fw-bold">Mon Super Site d'Events</h1>
        <p class="col-md-8 fs-4">Bonjour à toi nouveau visiteur, bienvenue sur le meilleur site d'event du tieks .. Premiers sur l'event.</p>
        <a class="btn btn-warning btn-lg" href="/events/new" role="button">Poster un event</a>
      </div>
    </div>