
<%= render "banner" %>
		<h2 class="my-4 text-center">Voici la liste de tous les événements</h2>
		<div class="container">
        <div class="row">
        	<%= render "cards" %>
        </div>

      </div>
